@charset "utf-8";
@media only screen and (min-width:1024px) {
	html {
		font-size: 80px;
	}
}

@media only screen and (min-width:1280px) {
	html {
		font-size: 100px;
	}
}

.hose {
	width: 10.58rem;
	height: 6.55rem;
	margin: .30rem auto;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.part-1 {
	position: absolute;
	width: 9.22rem;
	height: 4.95rem;
	top: .70rem;
	left: .55rem;
	border-width: .04rem;
	border-style: solid;
}


/*.part-1 .wire-1 {
	position: absolute;
	left: 0;
	bottom: .95rem;
	width: 9.14rem;
	height: .04rem;
	background-color: #716866;
}*/


/*.light-off .wire-1 {
	background-color: #716866;
}

.light-on .wire-1 {
	background-color: #F78A06;
}*/

.part-1 .light-1 {
	top: -.32rem;
	left: -.34rem;
}

.part-1 .light-2 {
	top: -.32rem;
	left: .95rem;
}

.part-1 .light-3 {
	top: -.32rem;
	left: 2.25rem;
}

.part-1 .light-4 {
	top: -.32rem;
	left: 3.60rem;
}

.part-1 .light-5 {
	top: -.32rem;
	right: 3.60rem;
}

.part-1 .light-6 {
	top: -.32rem;
	right: 2.25rem;
}

.part-1 .light-7 {
	top: -.32rem;
	right: .95rem;
}

.part-1 .light-8 {
	top: -.32rem;
	right: -.34rem;
}

.part-1 .light-9 {
	top: .66rem;
	left: -.34rem;
}

.part-1 .light-10 {
	top: .66rem;
	right: -.34rem;
}

.part-1 .light-11 {
	top: 1.64rem;
	left: -.34rem;
}

.part-1 .light-12 {
	top: 1.64rem;
	right: -.34rem;
}

.part-1 .light-13 {
	top: 2.62rem;
	left: -.34rem;
}

.part-1 .light-14 {
	top: 2.62rem;
	right: -.34rem;
}

.part-1 .light-15 {
	top: 3.60rem;
	left: -.34rem;
}

.part-1 .light-16 {
	top: 3.60rem;
	right: -.34rem;
}

.part-1 .light-17 {
	bottom: -.34rem;
	left: -.34rem;
}

.part-1 .light-18 {
	bottom: -.34rem;
	left: .95rem;
}

.part-1 .light-19 {
	bottom: -.34rem;
	left: 2.25rem;
}

.part-1 .light-20 {
	bottom: -.34rem;
	left: 3.60rem;
}

.part-1 .light-21 {
	bottom: -.34rem;
	right: 3.60rem;
}

.part-1 .light-22 {
	bottom: -.34rem;
	right: 2.25rem;
}

.part-1 .light-23 {
	bottom: -.34rem;
	right: .95rem;
}

.part-1 .light-24 {
	bottom: -.34rem;
	right: -.34rem;
}

.part-2 {
	position: absolute;
	width: .32rem;
	height: 2.20rem;
	border-left-width: .04rem;
	border-left-style: solid;
	top: 2.10rem;
	left: 1.4rem;
}

.part-3 {
	position: absolute;
	width: .32rem;
	height: 2.20rem;
	border-left-width: .04rem;
	border-left-style: solid;
	top: 2.10rem;
	left: 2.5rem;
}

.part-4 {
	position: absolute;
	width: .32rem;
	height: 2.20rem;
	border-left-width: .04rem;
	border-left-style: solid;
	top: 2.10rem;
	left: 3.65rem;
}

.part-5 {
	position: absolute;
	width: .32rem;
	height: 2.20rem;
	border-left-width: .04rem;
	border-left-style: solid;
	top: 2.10rem;
	left: 4.8rem;
}

.part-6 {
	position: absolute;
	width: .32rem;
	height: 2.20rem;
	border-left-width: .04rem;
	border-left-style: solid;
	top: 2.10rem;
	right: 3.4rem;
}
.part-7 {
	position: absolute;
	width: .32rem;
	height: 2.20rem;
	border-left-width: .04rem;
	border-left-style: solid;
	top: 2.10rem;
	right: 2.4rem;
}

.part-8 {
	position: absolute;
	width: .32rem;
	height: 2.20rem;
	border-left-width: .04rem;
	border-left-style: solid;
	top: 2.10rem;
	right: 1.4rem;
}
.light2 .light-1 {
	top: -.32rem;
	left: -.34rem;
}

.light2 .light-2 {
	bottom: -.32rem;
	left: -.32rem;
}

/*投影仪*/

.projector {
	top: 2.8rem;
	left: 5.50rem;
}


/*窗帘*/

.curtain-1 {
	bottom: -.30rem;
	left: .37rem;
}

.curtain-2 {
	bottom: -.30rem;
	left: 1.68rem;
}

.curtain-3 {
	bottom: -.30rem;
	left: 2.99rem;
}

.curtain-4 {
	bottom: -.30rem;
	left: 4.30rem;
}

.curtain-5 {
	bottom: -.30rem;
	right: 4.32rem;
}

.curtain-6 {
	bottom: -.30rem;
	right: 3.01rem;
}

.curtain-7 {
	bottom: -.30rem;
	right: 1.70rem;
}

.curtain-8 {
	bottom: -.30rem;
	right: .40rem;
}