@charset "utf-8";
@media only screen and (min-width:1024px) {
	html {
		font-size: 80px;
	}
}

@media only screen and (min-width:1280px) {
	html {
		font-size: 100px;
	}
}

.hose {
	width: 8.22rem;
	height: 6.18rem;
	margin: .20rem auto;
	background-image: url(../img/bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}


/*灯*/

.part-1 {
	position: absolute;
	width: 6.04rem;
	height: 4.40rem;
	top: .80rem;
	left: .95rem;
	border-width: .04rem;
	border-style: solid;
}

.part-1 .light-1 {
	top: -.39rem;
	left: -.37rem;
}

.part-1 .light-2 {
	top: -.39rem;
	left: 1.19rem;
}

.part-1 .light-3 {
	top: -.39rem;
	left: 2.70rem;
}

.part-1 .light-4 {
	top: -.39rem;
	right: 1.19rem;
}

.part-1 .light-5 {
	top: -.39rem;
	right: -.39rem;
}

.part-1 .light-6 {
	top: .49rem;
	right: -.39rem;
}

.part-1 .light-7 {
	top: 1.37rem;
	right: -.39rem;
}

.part-1 .light-8 {
	bottom: 1.37rem;
	right: -.39rem;
}

.part-1 .light-9 {
	bottom: .49rem;
	right: -.39rem;
}

.part-1 .light-10 {
	bottom: -.39rem;
	right: -.39rem;
}

.part-1 .light-11 {
	bottom: -.39rem;
	right: 1.19rem;
}

.part-1 .light-12 {
	bottom: -.39rem;
	left: 2.70rem;
}

.part-1 .light-13 {
	bottom: -.39rem;
	left: 1.19rem;
}

.part-1 .light-14 {
	bottom: -.39rem;
	left: -.39rem;
}

.part-1 .light-15 {
	bottom: .49rem;
	left: -.39rem;
}

.part-1 .light-16 {
	bottom: 1.37rem;
	left: -.39rem;
}
.part-1 .light-17 {
	top: 1.37rem;
	left: -.39rem;
}

.part-1 .light-18 {
	top: .49rem;
	left: -.39rem;
}

.part-2 {
	position: absolute;
	width: .32rem;
	height: 2.20rem;
	border-left-width: .04rem;
	border-left-style: solid;
	top: 2.00rem;
	left: 2.10rem;
}

.part-3 {
	position: absolute;
	width: .32rem;
	height: 2.20rem;
	border-left-width: .04rem;
	border-left-style: solid;
	top: 2.00rem;
	left: 3.30rem;
}

.part-4 {
	position: absolute;
	width: .32rem;
	height: 2.20rem;
	border-left-width: .04rem;
	border-left-style: solid;
	top: 2.00rem;
	right: 2.30rem;
}

.light2 .light-1 {
	top: -.32rem;
	left: -.34rem;
}

.light2 .light-2 {
	bottom: -.32rem;
	left: -.32rem;
}

/*投影仪*/

.projector {
	top: 2.64rem;
	left: 4.4rem;
}


/*窗帘*/

.curtain-1 {
	top: 1.30rem;
	right: -.23rem;
}

.curtain-2 {
	top: 2.94rem;
	right: -.23rem;
}

.curtain-3 {
	bottom: -.25rem;
	right: 1.38rem;
}

.curtain-4 {
	bottom: -.25rem;
	right: 3.11rem;
}

.curtain-5 {
	bottom: -.25rem;
	left: 2.75rem;
}

.curtain-6 {
	bottom: -.25rem;
	left: 1.01rem;
}